ul {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
}

.svgImg {
  width: 5vw;
  height: auto;
}
