@import "./styles/header.scss";
@import "./styles/nav.scss";
@import "./styles/footer.scss";
@import "./styles/clicker.scss";

:root {
  --prim: white;
}

* {
  margin: 0;
  background-color: grey;
  font-size: 1.25rem;
}

// Main start
main {
  padding: 1rem;
}

//Main end

// Dev component start

.bbcode {
  width: 80vw;
  height: auto;
}

// Dev component end

// Techno component part start

ul {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
}

.svgImg {
  width: 5vw;
  height: auto;
}

// Techno component part end
