@import "./styles/header.scss";
@import "./styles/nav.scss";
@import "./styles/footer.scss";
@import "./styles/clicker.scss";
@import "./styles/techno.scss";
@import "./styles/main.scss";

:root {
  --prim: grey;
}

* {
  margin: 0;
  background-color: var(--prim);
  font-size: 1.25rem;
}
