@import "./styles/header.scss"; // Header style
@import "./styles/nav.scss"; // Nav style
@import "./styles/footer.scss"; // Footer style
@import "./styles/clicker.scss"; // Clicker style
@import "./styles/techno.scss"; // Techno style
@import "./styles/main.scss"; // Main style
@import "./styles/home.scss"; // Home style
@import "./styles/dev.scss"; // Dev stye
@import "./styles/projects.scss"; // Projects style
@import "./styles/me.scss"; // Me style

:root {
  --prim: grey;
  --sec: white;
}

* {
  margin: 0;
  font-size: 1.25rem;
}
body {
  background-image: url("./assets/Imgages/Capture\ d'écran\ 2024-06-06\ 153550.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cont {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
